{# Utilisation du squelette de page "base.html.twig" #}
{% extends "base.html.twig" %}

{# Titre de la page #}
{% block title %}Modification d'une publication{% endblock %}

{# Contenu de la page #}
{% block body %}

    {# Grille Bootstrap #}
    <div class="container-fluid">

        {# Titre h1 de la page #}
        <div class="row">
            <div class="col-12">
                <h1 class="text-center my-5">Modification d'une publication</h1>
            </div>
        </div>

        {# Lien pour revenir sur la fiche de l'article #}
        <div class="row">
            <div class="col-12 text-center">
                {# Lien pour revenir sur la fiche de l'article. On récupère l'id et le slug de l'article, nécessaires pour construire le lien, directement via le formulaire #}
                <a href="{{ path('blog_publication_view', {slug: publication_edit_form.vars.value.slug}) }}" class="text-decoration-none">Revenir sur l'article</a>
            </div>
        </div>

        {# Affichage du formulaire de modification de l'article #}
        <div class="row">
            <div class="col-12 col-md-8 mx-auto">
                {{ form( publication_edit_form ) }}
            </div>
        </div>

    </div>

{% endblock %}