{# Utilisation du squelette de page base.html.twig #}
{% extends 'base.html.twig' %}


{# Titre de la page #}
{% block title %}Modification d'une publication{% endblock %}


{# Contenu de la page #}
{% block body %}

    <div class="container-fluid">

        <div class="row">
            <h1 class="col-12 text-center my-5">Modification d'une publication</h1>
        </div>

        <div class="row">
            <div class="text-center col-12">
                {# Lien pour revenir sur la fiche de l'article. On récupère l'id et le slug de l'article, nécéssaires pour construire le lien, directement via le formulaire #}
                <a class="text-decoration-none" href="{{ path('blog_publication_view', {slug: form.vars.value.slug }) }}">Revenir sur l'article</a>
            </div>
        </div>

        <div class="row">

            <div class="col-12 col-md-8 mx-auto">
                {{ form( form ) }}
            </div>

        </div>

    </div>

{% endblock %}