{# Utilisation du squelette de page base.html.twig #}
{% extends 'base.html.twig' %}


{# Titre de la page #}
{% block title %}Erreur 404 : Page Introuvable{% endblock %}


{# Contenu de la page #}
{% block body %}

    {# Grille Bootstrap #}
    <div class="container-fluid">

        <div class="row">

            <div class="col-12 text-center">

                {# Affichage d'une image #}
                <img src="{{ asset('images/404.jpg') }}" alt="Erreur 404, page introuvable" class="img-fluid my-3">

            </div>

        </div>

    </div>

{% endblock %}
